/* Fichier style.css dans le dossier assets */
.zenzone-video-widget {
  max-width: 100%;
  height: auto;
}

.zenzone-video-widget video {
  border-radius: 15px; /* Ajustez cette valeur pour obtenir le rayon souhaité */
  overflow: hidden;
}

.coque {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 10; /* Assurez-vous que ce nombre est supérieur à celui de tous les autres éléments superposés */
}
